$font-size: 16px;
$color-primary: var(--el-color-primary);
$primary: var(--primary-color);
$white: var(--white);
$c-000: var(--c-000);
$c-333: var(--c-333);
$c-666: var(--c-666);
$c-777: var(--c-777);
$c-999: var(--c-999);
$c-e8: var(--c-e8);
$c-ccc: var(--c-ccc);
$c-ddd: var(--c-ddd);
$c-eee: var(--c-eee);
$c-aaa: var(--c-aaa);
$c-f8: var(--c-f8);
$warning: var(--warning);
$success: var(--success);
$footer-theme: var(--primary-color);

$border-radius: var(--box-radius);